.cart-container {
  max-width: 700px;
  margin: 20px auto;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
}

.cart-summary {
  margin-top: 20px;
  text-align: center;
}

.proceed-btn {
  background: #6d8b74;
  color: white;
  padding: 10px 20px;
  border: none;
  margin-top: 10px;
  cursor: pointer;
}

.total{
   margin-top: 20px;
  text-align: center;
}
